<h2 style="text-align: center">Factors Calculator</h2>
<p>This calculator is for finding the factors of a certain number</p>
<label for="factor">What number would you like to find the factors of?</label>
<input id="factor">
<button id="factoraction" style="text-align: center">Calculate</button>
<div id="factoroutput"></div>