<h2 style="text-align: center">Web Calculators</h2>

<div style="text-align: center"><a href="/pythagorean">Pythagorean Calculator</a></div>
<div style="text-align: center"><a href="/quadratic">Quadratic Calculator</a></div>
<div style="text-align: center"><a href="/factorial">Factorial Calculator</a></div>