<h2 style="text-align: center">Pythagorean Calculator</h2>
<p>This calculator is for finding side length C in a right triangle, when A and B are given. C is the the square root of the sum of A squared plus B squared. Please only enter positive values, as the pythagorean theorem measures distance.</p>
<label for="pytha">A value</label>
<input id="pytha">
<label for="pythb">B value</label>
<input id="pythb">
<button id="pythaction">Calculate C</button>
<div id="pythoutput"></div>