<h2 style="text-align: center">Quadratic Formula Calculator</h2>
<p>This calculator is for finding the x-intercepts of a given quadratic equation. In order for this calculator to work, you must enter an equation that has x-intercepts, otherwise the result will be imaginary numbers, or NaN. The Quadratic Equation is Y equals A times X squared, plus B times X, plus C. Please enter the values of A, B, and C.</p>
<label for="quada">A value</label>
<input id="quada">
<label for="quadb">B value</label>
<input id="quadb">
<label for="quadc">C value</label>
<input id="quadc">
<button id="quadaction">Calculate X intercepts</button>
<div id="quadoutput"></div>